body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #120776c9;
    color: rgb(255, 255, 255);
}
.btn {
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 16px;
}
.btn:hover {
    background-color: #ff0000c2;
    color: #f4f4f4;
}